/**
*  Mise en page général avec display:grid
*/

.site__header {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: white;
    border-bottom: 2px solid black;
  }
  
  .site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  }
  
  .site__footer {
    grid-area: footer;
  }
  .site__aside {
    text-align: center;
    .imgContainer{
      margin-top: 1em;
      display: flex;
      justify-content: center;
      img{
        margin: auto;
        width: 70%;
        justify-content: center;
      }
    }
    @media screen and (min-width: $largeur__bureau) {
      text-align: left;
  }
    grid-area: aside;
    background-color: lightblue;
    a{
      padding: 10px;
      margin-top: 20px;
      font-size: clamp(0.9375rem, 0.4911rem + 1.4286vw, 1.5625rem);
      color: black;
        &visited{
            color: rgb(148, 148, 255);
        }
        &:hover{
            color: rgb(255, 255, 255);
        }
    }
    li{
      margin-top: 2rem;
      list-style: none;
    }
    li:hover{
      transform: scale(120%);
    }
    .lapinMenu{
      width: 50px;
      height: 50px;
      margin-left: 100px;
      background-color: rgb(300, 300, 300);
      background: transparent;
      background-size: cover;
      background-image: url("https://i.pinimg.com/474x/58/0f/5e/580f5eb62ff7e932047da0709dfb1af4--funny-rabbit-bunny-logo.jpg");
    }
    .lapinMenus{
      width: 100px;
      height: 100px;
    }
  }
  .menuSecondaire{
    background-color: lightblue;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    border-radius: 10%;
  }

  .site {
    display: grid;
    
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    // row-gap: 50px;
    background-color: whitesmoke;
    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "aside main"
       /*  ". main" */
        "footer footer";
    }
  }
  .no-aside {
    grid-template-areas:
    "header"
    "main"
    "footer";
    @media screen and (min-width: $largeur__bureau) {
      grid-template-columns: auto;
      grid-template-areas:
      "header"
      "main"
      "footer";
  }
}