 .blocflex{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;    
     min-height: 100vh;
     background-color: white;
 }
 .blocflex:first-of-type{
  background-color: rgba($color: white, $alpha: 0);
 }
 .blocflex__article img{
  margin: auto;
  display: flex;
 }
 .blocflex:first-of-type{

 }
// .blocflex {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     // Cette déclaration sera meilleur quand min() sera mieux supporté
//     // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
//     gap: 2rem;
//     margin: 2rem;
  
    
//   }
  .blocflex__galerie{
    flex:1 0 100%;
    margin: 2rem;
  }
  .blocflex__article{
    border: 1px solid #aaa;
    padding: 1rem;
    flex: 1 0 300px;
    margin: 2rem;
  }

  .lapinSection{
    color: black;
  }

  .separateurLapin{
    background-color: rgb(148, 148, 255);
    margin:0;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    box-sizing:border-box;
    position: relative;
    width: 100%;
  }

  .sectionLapin{
    border: 1px solid red;
    width: 90%;
    display: flex;
    height: 20%;
    margin: auto;
  }

  #lapinSection{

    min-height: auto;
  }
  .lapinPost{
display: flex;
flex-wrap: wrap;
  }