#menu-menuexam{
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.examSection{
    border: red 2px solid;
    width: 90%;
    margin: auto;
    align-items: center;
}
.menu-menuexam-container{
    margin: auto;
}