.menu-evenement-container,
.menu-block-archive-container,
.menu-lapin-container{ //nav
    flex-wrap: wrap;
    .menu {//
        display: flex;
        .menu-item{//li
            border: 1px solid #aaa;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba($color: blue, $alpha: .1);
            padding: 5px;
            margin: 10px;
            flex-wrap: wrap;
           
            a{
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                font-size: 2rem;
                min-width: 300px;
                color: white;
                text-shadow: 3px 3px black;
                flex-wrap: wrap;
                span{
                    
                    display: block;
                    font-size: 0.9rem;
                    margin-bottom: 1rem;
                    text-align: center;
                    flex-wrap: wrap;
                    
                }
                .title{
                    display: block;
                    font-size: 2rem;
                }
                .description{
                    font-size: 1rem;
                }
                .menu-thumbnail{
                    display: block;
                    width: 150px;
                    height: 50px;
                }
            }
        }
    }
}
.menu-block-archive-container .menu .menu-item a{
    background-repeat: no-repeat;
    width: 50px;
    display: block;
}
.bloc__cours a{
    background-image: url('https://s2.svgbox.net/flags-ld.svg?ic=ba');
    background-repeat: no-repeat;
}
.bloc__4w4{
    background-image: url('https://s2.svgbox.net/flags-ld.svg?ic=rs');
    background-repeat: no-repeat;
}
#menu-evenement, #menu-block-archive{
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.blanc{
    background-color: white;
    height: 100%;
}

#evenementSection{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 90%;
    margin: 20px;
    margin: auto;
}

.menu-lapin{
    a{
        color: black;
    }
}
