.menu-evenement-container{ //nav
    .menu {//
        display: flex;
        .menu-item{//li
            border: 1px solid #aaa;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a{
                font-size: 2rem;
                span{
                    display: block;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

