
.site__footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0;
    top: 100%;
    width: 100%;
}

.site__footer section{
    flex: 1 1 200px;
    height: 10vh;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 1em;
}

#menuFooter{
    ul{
        list-style: none;
        text-decoration: none;
    }
    li{
        margin-top: 5px;
    }
    a {
        color: white;
        &visited{
            color: lightcyan;
        }
        &:hover{
            color: lightblue;
        }
    }

}