.titleSingle{
    margin-left: 20px;
   margin-top: 20px;
   font-family: 'Abril Fatface', cursive;
   &::first-letter{
    color: purple;
    
   }
}

.single{
    h3{
        margin-left: 10px;
    }
    h1{
        margin-left: 20px;
        p{
            margin-left: 10px;
        }
    }
    li{
        margin-left: 20px;
    }
}
