.site__header{}
.titre_header_logomenu{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    position: fixed;
    width: 99vw;
    top: 32px;
}
.titre_header_h1{
    padding-right: 25px;
}

.menu-entete-container {//nav
    .menu{// ul
        display: flex;
        list-style: none;
        justify-content: flex-end;
        .menu-item{//li
            color: rgb(0, 42, 85);
            a{
                display: block;
                padding: 5px 20px;
            }
        }
    }
}