
body {
    max-width: 100%;
    min-width: 100%;
    background-color: beige;
}
//frontpage
.post_title {
    background-color: grey;
    padding: 20px;
  }

//single
.contentSingle{
    color: green;
}
.titleSingle{
    
}
.first{
    background-color: darkblue;
    margin-bottom: 0; 
}